.button {
	background-color: #002b48;
	text-align: center;
	color: #fce5af;
	font-size: 1.2rem;
	border-radius: 5px;
	box-sizing: border-box;
	padding: 10px;
	font-weight: bold;
	border: none;
	transition: background-color 0.4s;
    width: 100%;
}

.button:hover {
	cursor: pointer;
	background-color: #005ea1;
}

.button:disabled{
	background-color: #ccc;
	color: #666;
	cursor: not-allowed;
}